<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css"> <!-- located in public dir -->
    <title>Discussion</title>
</head>
<body>
    <h1>What's New?</h1>
<a href="/form">Click Here to Add a Comment</a>
    <ul class="messages">
        <% content.forEach((item) => { %>
            <%- include('message', {name: item.name, date: item.date, message: item.message}) %>
        <% }) %>
    </ul>
</body>
</html>