body{
    color: blue;
    display: grid;

    align-items: center;

    font-size: 1.5rem;
}   .postContainer{
        display: grid;
        grid-template-columns: repeat(2, 40vw);
        grid-template-rows: auto;

        width: fit-content;
    }
        .item{
            border: 1px solid black;
            border-radius: 15px;
            list-style-type: none;
            text-align: center;

        }
    a{
        color: black;
        /* text-decoration: none; */
        font-weight: bold;
        font-size: 1.7rem;

        grid-row: 1/2;
        grid-column: 2/3;
    }

    h1{
        grid-row: 1/2;
        grid-column: 1/2;
    }

    form{
        grid-row: 2/3;
        grid-column: 1/3;

        display: grid;
        justify-content: center;

        font-size: 1.5rem;
     
    }
    /* class is label, id is input/textarea */
        input, textarea{
            font-size: 1.5rem;
            width: 20vw;

        }
        .name{ 
            grid-row: 1/2;
        }
        #name{
            grid-row: 2/3;

        }
        .message{
            grid-row: 3/4;
        }
        #message{
            grid-row: 4/5;
            height: 10rem;
            width: 50vw;
        }
        button{
            justify-self: center;
            font-size: 1.7rem;
            border: none;
            margin-top: 5vh;
            padding: .5rem;

            font-weight: bolder;
            background-color: rgb(255, 145, 0);
            border-radius: 15px;
        }
        button:hover{
            background-color: lightcoral;
            cursor: pointer;
        }
